.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
  background-color: #2d2e2e;

  .mat-toolbar {
    background: inherit;
  }
}

#top-toolbar {
  background-color: #2d2e2e;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

img {
  height: 80px;
  width: 80px;
  padding: 45px 10px 0px;
  margin: 1.2rem auto;
}

// mat-nav-list {
//   margin: 1.5rem auto;

//   a {
//     text-decoration: none;
//     padding: 5px 20px 5px;
//     display: block;
//     text-align: center;
//   }

//   p {
//     color: #fff;
//     text-align: center;
//   }
// }

mat-icon {
  font-size: 42px;
  color: #FB8C00;
  display: block;
  padding-left: 35px;
  width: 34px;
}

ul {
  list-style: none;
  padding: 0;
  // margin: 0;
  margin-top: 5rem;

  li {
    margin-bottom: 15px;

    a {
      text-decoration: none;
      color: #fff;
      padding: 5px 20px 5px;
      display: block;
      text-align: center;
    }

    .activated {
      background-color: #696969;
      // width: 80px;
    }
  }
}

span {
  width: 80px;
}

// ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;

//   li {
//     margin-bottom: 15px;

//     // a {
//     //   text-decoration: none;
//     //   padding: 5px 20px 5px;
//     //   display: block;
//     //   text-align: center;
//     // }

//     p {
//       color: #fff;
//       text-align: center;
//     }

//     a {
//       text-decoration: none;
//       color: #fff;
//       padding: 5px 20px 20px;
//       display: block;
//       text-align: center;
//     }

//     .activated {
//       background-color: #696969;
//       width: 80px;
//     }
//   }
// }
