<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <li>
        <a class="mat-list-item" [routerLink]="['/task/create']">
          <i class="material-icons">add</i>New Task
        </a>
      </li>
      <li>
        <a class="mat-list-item" [routerLink]="['/task/myday']">
          <i class="material-icons">local_cafe</i>My Day
        </a>
      </li>
      <li>
        <a class="mat-list-item" [routerLink]="['/task/important']">
          <i class="material-icons">star_border</i>Important
        </a>
      </li>
      <li>
        <a class="mat-list-item" [routerLink]="['/alltasks']">
          <i class="material-icons">list_alt</i>Tasks
        </a>
      </li>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>todo</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/task/create']"><i class="material-icons">add</i>New Task</a>
      <a mat-list-item [routerLink]="['/task/myday']"><i class="material-icons">local_cafe</i>My Day</a>
      <a mat-list-item [routerLink]="['/task/important']"><i class="material-icons">star_border</i>Important</a>
      <a mat-list-item [routerLink]="['/task/tasks']"><i class="material-icons">list_alt</i>Tasks</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>todo</span>
    </mat-toolbar>
    <!-- <p>what kind of content</p> -->
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
