<mat-list>
    <div class="no-tasks">
        <ng-template class="no-tasks" [ngIf]="tasks.length == 0">
            <h1>You don't have any tasks scheduled</h1>
        </ng-template>
    </div>
    <ng-template class="yes-tasks" [ngIf]="tasks.length > 0">
        <mat-list-item *ngFor="let task of tasks" [ngClass]="{'isChecked':task.complete}">
            <mat-checkbox matListIcon [checked]="task.complete" (click)="onChange(task)"></mat-checkbox>
            <h1 id='text-title' matLine> {{task.title}} </h1>
            <p class="task-detail" matLine>Due Date:
                <span> {{task.dueDate | date}} </span>
            </p>
            <p class="task-detail" matLine>Note:
                <span> {{task.note}} </span>
            </p>
            <button mat-icon-button>
                <mat-icon [routerLink]="['/edit', task._id]" color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon (click)="removeTask(task._id)" color="accent">cancel</mat-icon>
            </button>
            <mat-divider></mat-divider>
        </mat-list-item>
    </ng-template>
</mat-list> 