#container {
    display: grid;
    grid-template-columns: 120px auto;
    height:100%; 
}

main {
    margin:1rem auto;
}

mat-sidenav-container {
    min-height:100%;
}

mat-sidenav, mat-sidenav-content {
    padding:1rem;
}

mat-sidenav {
    background-color: #F8F8F8;
    width:200px;
    #side-toggle-btn {
        padding: 0;
        border:none;
        background-color:  #F8F8F8;
    }
    ul {
        list-style: none;
        padding-left:0px;
        li {
            margin-bottom:15px;
        }
    }
}

.side-nav-link {
    a {
        text-decoration: none;
        .nav-text {
            color:#000000;
            font-size:18px;
        }
    }
    .material-icons {
        font-size:24px;
        margin-right:15px;
        vertical-align: middle;
        color:#FB8C00;
    }
}

.mat-drawer-shown.mat-drawer-shown {
    background-color: white !important;
}