<nav>
    <ul>
        <li>
            <a [routerLink]="['create']">
                <p>
                    <mat-icon id="add">add</mat-icon>
                </p>
                <span id="new-task">New Task</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['myday']">
                <p>
                    <mat-icon id="local-cafe" class="material-icons" matBadge="{{countMyDay}}" matBadgeColor="warn">local_cafe</mat-icon>
                </p>
                <span>My Day {{user}}</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['important']">
                <p>
                    <mat-icon id="star-border" class="material-icons" matBadge="{{countImport}}" matBadgeColor="warn">star_border</mat-icon>
                </p>
                <span class="import">Important</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['task']">
                <p>
                    <mat-icon id="list-alt" class="material-icons" matBadge="{{countTasks}}" matBadgeColor="warn" matBadgeOverlap="true">list_alt</mat-icon>
                </p>
                <span>Tasks</span>
            </a>
        </li>
    </ul>
</nav>
