<nav>
    <ul>
        <li>
            <a [routerLink]="['/create']">
                <i class="material-icons">add</i>New Task
            </a>
        </li>
        <li>
            <a [routerLink]="['/myday']">
                <i class="material-icons">local_cafe</i>My Day
            </a>
        </li>
        <li>
            <a [routerLink]="['/important']">
                <i class="material-icons">star_border</i>Important
            </a>
        </li>
        <li>
            <a [routerLink]="['/alltasks']">
                <i class="material-icons">list_alt</i>Tasks
            </a>
        </li>
    </ul>
</nav>
