ul {
    list-style: none;
    padding:0;
    margin:0;
    li {
        margin-bottom:15px;
        a {
            text-decoration: none;
            color:#fff;
            padding:5px 20px 20px;
            display:block;
            text-align: center;
        }        
        .activated {
            background-color: #696969;
            width:80px;
        }
    }
}

mat-icon {
    font-size:42px;
    color:#FB8C00;
    display:block;
    padding-left:16px;
    width:34px;
}

.material-icon {
    top:-4px;
}

nav {
    background-color:#2d2e2e;
    height:100%;
    width:120px;
    display:flex;
    position: fixed;
}