ul {
    list-style: none;
    padding:0;
    margin:0;
    li {
        margin-bottom:15px;

        a {
            text-decoration: none;
            color:#fff;
            padding:20px;
            display:block;
            text-align: center;
        }        
        .activated {
            background-color:#FB8C00;
        }
    }
}

.material-icons {
    font-size:24px;
    color:#FB8C00;
    display:block;
    margin-bottom:8px;
}

nav {
    background-color:#2d2e2e;
    height:100%;
    width:120px;
    display:flex
}

