<mat-toolbar color="primary">
    <span>Application Title</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span>Right Aligned Text</span>
</mat-toolbar>

<form [formGroup]="myForm">
    Value: {{myForm.value | json}}
    <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field> 
        <input matInput [matDatepicker]="myDatePicker" [min]="minDate" formControlName="dueDate" placeholder="Due Date">
        <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field  color="warn">
        <mat-label>Category</mat-label>
        <mat-select [(value)]="selectedValue">
            <mat-option value="my day">My Day</mat-option>
            <mat-option value="important">Important</mat-option>
            <mat-option value="task">Task</mat-option>
        </mat-select>
    </mat-form-field>
</form>