.example-fill-remaining-space {
/* This fills the remaining space, by using flexbox. 
    Every toolbar row uses a flexbox row layout. */
flex: 1 1 auto;
}

h1 {
    font-size:24px !important;
}
  
mat-list {
    padding:1rem;
    border:10px solid black;
    height:100%;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.isChecked {
    opacity:0.4;
    text-decoration:line-through;
}
  
.no-tasks {
    h1 {
      margin:0;
      padding:3rem;
      text-align: center;
    }
}

#text-title {
    margin-bottom:10px !important;
}